<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="" value=""/>
    </settings>

    <!--<typeAliases>-->
        <!--<package name="sample.mybatis.domain"/>-->
    <!--</typeAliases>-->
    <!--<mappers>-->
        <!--<mapper resource="sample/mybatis/mapper/CityMapper.xml"/>-->
        <!--<mapper resource="sample/mybatis/mapper/HotelMapper.xml"/>-->
    <!--</mappers>-->
    <mappers>
        <mapper resource="mapper/Actor.xml"/>
    </mappers>
</configuration>